.city-form{
    margin-top: 15px;
}

.city-input{
    margin: 0 15px 0 0;
    font-size: 13px;
}

.new-city{
    margin: 0;
}

.line{
    margin: 5px 20px 5px 20px;
}

.add-button{
    font-size: 13px;
    background-color: rgb(8, 148, 25);
    padding: 2px 12px 2px 12px;
    border: none;
    color: white;
}

.add-button:hover{
    background-color: rgb(2, 125, 16);
    color: white;
}

.add-button:focus{
    background-color: white;
    color: black;
    border: 1px solid black;
}